.fruit-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 7rem;

  &__drop-down {
    position: relative;
  }

  &__space {
    width: 100%;
    height: 1px;
    background-color: var(--blue);
  }
}
