$font-primary: Segoe UI;

:root {
  --white: #fff;
  --black: #000000;
  --shadow-color: rgba(149, 157, 165, 0.2);
  --light-gray: rgba(213, 213, 213, 0.757);
  --gray: rgb(139, 139, 139);
  --blue: rgb(115, 146, 165);
  --light-blue: rgb(240, 243, 245);
  --blue-transparent: rgba(0, 157, 224, 0.1);
  --dark-blue: rgb(69, 82, 219);
}
