.drop-down-item {
  background-color: var(--light-blue);
  color: var(--gray);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;

  &::before {
    content: "-";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -0.5px; /* Half the height of the line */
    border-top: 1px solid gray;
    z-index: -1;
  }
}
