.drop-down {
  overflow: hidden;
  border: 1px solid var(--light-gray);
  box-shadow: var(--shadow-color) 0px 8px 24px;
  border-radius: 1rem;
  color: var(--blue);
  font-size: 2rem;

  &__title {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
