.fruit-items-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 3rem;

  @media only screen and (max-width: 600px) {
    grid-template-columns: minmax(0, 1fr);
  }
}
