:root {
  --white: #fff;
  --black: #000000;
  --shadow-color: rgba(149, 157, 165, 0.2);
  --light-gray: rgba(213, 213, 213, 0.757);
  --gray: rgb(139, 139, 139);
  --blue: rgb(115, 146, 165);
  --light-blue: rgb(240, 243, 245);
  --blue-transparent: rgba(0, 157, 224, 0.1);
  --dark-blue: rgb(69, 82, 219);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

html {
  font-family: Segoe UI;
  font-size: 62.5%;
  user-select: none;
}

body {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  max-width: 100%;
  position: relative;
}

.drop-down {
  overflow: hidden;
  border: 1px solid var(--light-gray);
  box-shadow: var(--shadow-color) 0px 8px 24px;
  border-radius: 1rem;
  color: var(--blue);
  font-size: 2rem;
}
.drop-down__title {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.drop-down-item {
  background-color: var(--light-blue);
  color: var(--gray);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
}
.drop-down-item::before {
  content: "-";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -0.5px; /* Half the height of the line */
  border-top: 1px solid gray;
  z-index: -1;
}

.fruit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  background-color: var(--white);
  color: var(--blue);
  box-shadow: var(--shadow-color) 0px 8px 24px;
  padding: 1rem 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
}
.fruit-item__header {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}
.fruit-item__header--title {
  flex: 2;
  gap: 1rem;
  color: var(--white);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}
.fruit-item__header--close {
  background-color: var(--light-gray);
  color: var(--gray);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 2.2rem;
  height: 100%;
  aspect-ratio: 1/1;
}
.fruit-item__quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.fruit-item__quantity--amount {
  grid-column: 2/-1;
  justify-self: end;
  display: flex;
  gap: 0.5rem;
}
.fruit-item__quantity--amount--number {
  justify-self: center;
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
  text-align: center;
  height: max-content;
  padding: 0 1.5rem;
}
.fruit-item__slider {
  grid-column: 1/-1;
}
.fruit-item__price {
  align-self: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}
.fruit-item__price--number {
  font-weight: bold;
  font-size: 2rem;
}

.fruit-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 7rem;
}
.fruit-page__drop-down {
  position: relative;
}

/*# sourceMappingURL=style.css.map */
